
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
  <h3 class="text-primary text-center"> <a href = https://dbteam--kyung2.c9users.io/admin > 관리자 페이지 </a></h3>
  
  <!--SERVICE PART -->  
    <div class="row  text-center ">
    <div class ="col-xs-12 col-md-12">  <h1> Service 용량 </h1> </div>
      <td><%= pie_chart ({"Using core " => @service_using_core , "NotUsing core" => @service_notusing_core, "가용량" => @service_core_available}) , donut: true  %> </td></tr></div>
</div>
 <p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p><p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
    <!-- DISK PART-->
    
    <div class="row  text-center ">
    <div class ="col-xs-12 col-md-12">  <h1> DISK 용량 </h1> </div>
  <div class="col-xs-12 col-sm-12 col-s-6 col-md-3"><tr><td><%= pie_chart ({"가용량" => @storage_left , "사용량" => @storage_using}) , donut: true  %> </td></tr>
  
  <tr>
    <td>DISK 총 용량</td></tr>
</div>

  <div class="col-xs-12 col-sm-12 col-s-6 col-md-3"><tr><td><%= pie_chart ({"SAN Using" => @storage_using_san_sum , "SAN NOT Using" => @storage_notusing_san_sum, "SAN 가용량" => @storage_san_available}) , donut: true  %></td></tr>
  
  <tr>
    <td>SAN 총 용량</td></tr></div>
  <div class="col-xs-12 col-sm-12 col-s-6 col-md-3"><tr><td><%= pie_chart ({"NAS Using" => @storage_using_nas_sum , "NAS NOT Using" => @storage_notusing_nas_sum, "NAS 가용량" => @storage_nas_available}) , donut: true  %></td></tr>
  
  <tr>
    <td>NAS 총 용량</td></tr></div>
  <div class="col-xs-12 col-sm-12 col-s-6 col-md-3"><tr><td><%= pie_chart ({"TAPE Using" => @storage_using_tape_sum , "TAPE NOT Using" => @storage_notusing_tape_sum, "TAPE 가용량" => @storage_tape_available}) , donut: true  %></td></tr>
  
  <tr>
    <td>TAPE 총 용량</td></tr>
    </div>
    </div>
    
    <div class = "text-center">
    <p> <font size="4" >CAUCSE 2017 SPRING DB SYSTEM & PROGRMMING PROJECT</font></p>
    <p> <font size="2" >Thank for ASTRO!!!!!!</font></p>
    <p> </p>
    </div>